/**Navigation**/
.navbar-inverse{
    background-color: #383E4C;
}
.nav{
    display: inline-block;
    text-align: center;
    
}
.navbar-nav>li{
    display: inline-block;
    padding: 10px;
}
.navbar-inverse .navbar-nav>li>a{
    border: 1px solid #646d7c;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}
.navbar-inverse .navbar-nav>li>a.current,
.navbar-inverse .navbar-nav>li>a:hover{
    background-color: #49505F;
}